{include file="overall_header.html"}
			<div id="section-navigation">
				<ul>
					<li><a href="http://nagui.de">Offical NagUI Homepage</a></li>
					<li><a href="http://bastian-kuhn.de">Authors Homepage</a></li>
				</ul>
			</div>
			<div id="content">
				<h2>
					Welcome
				</h2>
				<p>
					What you can see here is the default NagUI Testing and Example GUI. NagUI enables you to create your own
					GUIs based on HTML and <a href="http://www.smarty.net/">Smarty</a>. NagUI can also be used as Backend for toolbars an programs
					cause it also can deliver JSON data.</p>
			        <p>
			          Another included GUI in NagUI is the Mobile GUI. You can set the GUI to Mobile for a list  of users or in general.
			          You can also test the Mobile GUI with adding the GET Parameter template=mobile to an url.
				</p>
				<p>
				 The newest Plugin is the Reporting Plugin. It can generate Reports using multiple Database Tables.
				 A import script for Logfiles into Database is available. Reporting using the Livestatus Backend didnt work yet.
				 
				</p>
			</div>
			<div id="aside">
				
			</div>
{include file="overall_footer.html"}
