<html>
 <head>
   <title>Livestatus Query Tool</title>
   <script src="templates/intern/jquery-1.6.2.min.js"></script>
   <script src="templates/intern/query.js"></script>
 </head>
 <body>
 <a href="#" id="hidelink">Hide/ unhide form</a>
  <form id="query_form" method="GET">
    <select id="tables" name="tables" size="25">
     <option value="hosts">hosts</option>
     <option value="services">services</option>
     <option value="hostgroups">hostgroups</option>
     <option value="servicegroups">servicegroups</option>
     <option value="contactgroups">contactgroups</option>
     <option value="servicesbygroup">servicesbygroup</option>
     <option value="servicesbyhostgroup">servicesbyhostgroup</option>
     <option value="hostsbygroup">hostsbygroup</option>
     <option value="contacts">contacts</option>
     <option value="commands">commands</option>
     <option value="timeperiods">timeperiods</option>
     <option value="downtimes">downtimes</option>
     <option value="comments">comments</option>
    </select>
    <textarea id="query" name="query" cols="80" rows="24">{$smarty.get.query}</textarea> <br />
    <input type="submit" value="Send query to server">
  </form>
    <hr>
    <pre>{$output}</pre>

 </body>
</html>