
#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #ccc; }

#content-container1
{
	float: left;
	width: 100%;

}

#content-container2
{
	float: left;
	width: 100%;
}

#section-navigation
{
	float: left;
	width: 16%;
	padding: 20px 0;
	margin: 0 2%;
	display: inline;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
} 

/*TABle*/


table 
{
	text-align: left;
	border-spacing: 0px;
	border: 1px solid #aeb3b6;
	border-collapse: collapse;
        margin-top: 5px;
	width: 100%;
}


table a, table, tbody, tfoot, tr, th, td 
{
   font-family: Arial, Helvetica, sans-serif;
	line-height: 2.0em;
	font-size: 13px;
	color: #55595c;
}
tbody td{
	line-height: 1.5em;
}

table caption
{
	padding: .4em 0 ;
	font-size: 240%;
	font-style: normal;
	color: #FB7E00;
}

table a
{
	display: block;
	color: #000;

	
}

table a:hover, table a:focus
{

}

table th a
{
	color: #fff;
	text-align: right;
}
table .odd th a,table .odd td a,table .odd td{
	color: #666;
	padding-right: 1.0 em;
}

table .odd th,table .odd td{
	background-color: #DDDDDD;
}

thead th
{
	background-color: black;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	padding-left: 2px;
	
}
tfoot{
	background-color: black;
	border-top: 1px solid #fff;
	
	
}
tfoot th,tfoot td{
	color: #fff;
}

tbody th
{
        padding-right: 1.0em;
	color: #25c1e2;
	font-style: normal;
	background-color: #fff;
	border-bottom: 1px dotted #aeb3b6;

}

td
{
        color: #000;
	border-bottom: 1px dotted #aeb3b6;
	padding-right: 0.5em;
	padding-left: 2px;
	
}

tbody tr.odd
{
	border-bottom: 1px dotted #aeb3b6;
}

tbody tr:hover td
{
  background-color: #dcdcdc;
}

tbody tr:hover td,tbody tr:hover th, tbody tr:hover a
{
	color: #fff !important;
}


/*Nagios*/

.host_status_0 {
 background-color: green; 
 margin: 3px;
 padding: 3px;
 color: white;
 border: 1px solid black;
}

.host_status_1 {
 background-color: red;
 padding: 3px;
 color: black;
 border: 1px solid black;
}


.host_td_status_0 {
   background-color: green;
   width: 7px;
}

.host_td_status_1 {
   background-color: red; 
   width: 7px;
}

.service_td_status_0 {
   background-color: green;
   color: white;
   width: 7px;
}

.service_td_status_1 {
   background-color: yellow; 
   width: 7px;
}

.service_td_status_2 {
  background-color: red;
  color: white;
  width: 7px;
}

.service_td_status_3 {
  background-color: blue;
  color: white;
  width: 7px;
}

.nav_error 
{
  background-color: red; 
}

.nav_unhandled
{
  background-color: orange; 
}



/*Forms*/
.filter fieldset {
 padding: 3px;
 border: 1px solid;
 margin-bottom: 5px;
 padding: 5px;
}

.input_txt {
  border: 1px solid; 
  float: right;
}

