body {
	background: #FFFFFF url(./tplimages/bg_grey.png) repeat-x;
	color: #171717;
	margin: 22px 0;
	padding: 0;
	font-family: Verdana;
	font-size: 11px;
}

a {
	color: #F46600;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

#page {
	margin: 0 auto;
	min-width: 968px;
	position: relative;
	width: 968px;
}

#header {
	background-position: 940px 81px;
	height: 50px;
	margin: 0;
}

#navigation span, #box h1 {
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding-left: 14px;
	background: url(./tplimages/title_orange.png) no-repeat;
}

#navigation h2 {
	margin-top: 30px;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding-left: 14px;
	background: url(./tplimages/title_orange.png) no-repeat;
}

#navigation span a, #box h1 a {
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding-left: 0;
	color: #171717;
}


#content {
	float: left;
	width: 100%;
	margin: 0;
}

#content h1 {
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 2px 14px;
	background: url(./tplimages/title_black.png) no-repeat;
	border-bottom: 2px solid #171717;
}

#content p {
	text-align: justify;
}

#box {
	float: left;
	width: 170px;
	margin: 0 18px 0 36px;
}

.text {
	float: right;
	width: 118px;
	height: 107px;
	margin: 0 0 15px 20px;
	background: url(./tplimages/img_bg.png) no-repeat;
}

.text img {
	width: 107px;
	height: 107px;
	margin: 0 1px 0 10px;
}

.footer {
	clear: both;
	text-align: right;
	margin: 0 0 20px 0;
	padding: 0 0 2px 0;
	border-bottom: 1px solid #D4D4D4;
}

/*Tabelle*/

/*Liste von Treffern*/
.default_result {
		width: 100%;
}

/*Unsichtbare Tabelle für Formulare*/
.option_table {
		width: 100%;
}

/*Nagios*/

.host_status_0 {
 background-color: green; 
 margin: 3px;
 padding: 3px;
 color: white;
 border: 1px solid black;
}

.host_status_1 {
 background-color: red;
 padding: 3px;
 color: black;
 border: 1px solid black;
}


.host_td_status_0 {
   background-color: green;
   width: 7px;
}

.host_td_status_1 {
   background-color: red; 
   width: 7px;
}

.service_td_status_0 {
   background-color: green;
   color: white;
   width: 7px;
}

.service_td_status_1 {
   background-color: yellow; 
   width: 7px;
}

.service_td_status_2 {
  background-color: red;
  color: white;
  width: 7px;
}

.service_td_status_3 {
  background-color: blue;
  color: white;
  width: 7px;
}

.nav_error 
{
  background-color: red; 
}

.nav_unhandled
{
  background-color: orange; 
}



/*Forms*/
.filter fieldset {
 padding: 3px;
 border: 1px solid;
 margin-bottom: 5px;
 padding: 5px;
}

.input_txt {
  border: 1px solid; 
  float: right;
}

